<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <p>
    This angular component uses an angular 4 service in order to consume a static JSON file and provide the data required for the file explorer component.
  </p>
  <p>Files can be filtered by name and sorted by field. E2E Tests and Unit Tests (for components, services and pipes) have been implemented although without full coverage (just showcasing some logic).</p>
  <p>For development and debugging please refer to README.md in the root of this project.</p>
</div>

<app-file-explorer></app-file-explorer>

